In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
input_data = {
  "Education": 1,
  "ApplicantIncome": 500,
  "CoapplicantIncome": 0,
  "LoanAmount": 146.4122,
  "Loan_Amount_Term": 360,
  "Credit_History": 1,
  "Property_Area": 2,
  "Gender": 1,
  "Self_Employed": 0,
  "Dependents": 0,
  "Married": 0
}

In [3]:
import pickle
model = pickle.load(open("loan_rf.pickle.dat", "rb"))

In [4]:
#import pickle
#model = pickle.loads(model_blob)

In [5]:
input_df = pd.DataFrame([input_data])

In [6]:
prediction = model.predict(input_df)

In [7]:
#prediction
type(prediction[0])

numpy.int64

In [8]:
json_data = json.dumps({'Loan_prediction': str(prediction[0])})

In [9]:
json_data

'{"Loan_prediction": "0"}'

In [10]:
#msg.body = json.dumps({'Churn_prediction': str(prediction[0])})

In [11]:
#new_attributes = {'message.request.id': msg.attributes['message.request.id']}
#msg.attributes =  new_attributes
#api.send('output', msg)

In [12]:
predict_df = pd.DataFrame({'Prediction': prediction})

In [13]:
predicted_df = pd.concat([input_df, predict_df], axis=1)

In [14]:
predicted_df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,France,Germany,Spain,Female,Male,Prediction
0,619,42,2,0.0,1,1,1,101348.88,1,0,0,1,0,1

In [15]:
dict_data1 = predicted_df.to_dict(orient="records")
dict_data1

[{'CreditScore': 619,
  'Age': 42,
  'Tenure': 2,
  'Balance': 0.0,
  'NumOfProducts': 1,
  'HasCrCard': 1,
  'IsActiveMember': 1,
  'EstimatedSalary': 101348.88,
  'France': 1,
  'Germany': 0,
  'Spain': 0,
  'Female': 1,
  'Male': 0,
  'Prediction': 1}]

In [16]:
type(dict_data1)

list

In [17]:
json_data1 = predicted_df.to_json(orient="records")
json_data1

'[{"CreditScore":619,"Age":42,"Tenure":2,"Balance":0.0,"NumOfProducts":1,"HasCrCard":1,"IsActiveMember":1,"EstimatedSalary":101348.88,"France":1,"Germany":0,"Spain":0,"Female":1,"Male":0,"Prediction":1}]'

In [18]:
type(json_data1)

str

In [19]:
data1 = json.dumps(dict_data1, indent=4)
data1

'[\n    {\n        "CreditScore": 619,\n        "Age": 42,\n        "Tenure": 2,\n        "Balance": 0.0,\n        "NumOfProducts": 1,\n        "HasCrCard": 1,\n        "IsActiveMember": 1,\n        "EstimatedSalary": 101348.88,\n        "France": 1,\n        "Germany": 0,\n        "Spain": 0,\n        "Female": 1,\n        "Male": 0,\n        "Prediction": 1\n    }\n]'

In [20]:
data2 = json.dumps(json_data1, indent=4)
data2

'"[{\\"CreditScore\\":619,\\"Age\\":42,\\"Tenure\\":2,\\"Balance\\":0.0,\\"NumOfProducts\\":1,\\"HasCrCard\\":1,\\"IsActiveMember\\":1,\\"EstimatedSalary\\":101348.88,\\"France\\":1,\\"Germany\\":0,\\"Spain\\":0,\\"Female\\":1,\\"Male\\":0,\\"Prediction\\":1}]"'

In [ ]:
{
  "Education": "Graduate",
  "ApplicantIncome": 500,
  "CoapplicantIncome": 0,
  "LoanAmount": 146.4122,
  "Loan_Amount_Term": 360,
  "Credit_History": 1,
  "Property_Area": "Urban",
  "Gender": "Male",
  "Self_Employed": "No",
  "Dependents": "0",
  "Married": "No"
}